<!DOCTYPE html>
<html lang="ru">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>LIGNUM</title>
  <meta content="" name="description">
  <meta content="" name="keywords">
  <!-- Google шрифты ебучие -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800;900&display=swap" rel="stylesheet">

  <!-- CSS стороние css скрипт файлы -->
  <link href="assets/vendor/aos/aos.css" rel="stylesheet">
  <link href="assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="assets/vendor/remixicon/remixicon.css" rel="stylesheet">
  <link href="assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

  <!--  Значки fa fa  -->
  <link rel="stylesheet" href="assets/css/fontawesome.css">
 <!--  Значки fa fa  -->

 <script src="assets/vendor/aos/aos.js"></script>
 <script src="assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
 <script src="assets/vendor/glightbox/js/glightbox.min.js"></script>
 <script src="assets/vendor/swiper/swiper-bundle.min.js"></script>

  <!-- Главный css файл -->
  <link href="assets/css/style.css" rel="stylesheet">

</head>

<body>
  <%- include('./partial/header')%>
  <!-- ======= Херо ======= -->
  <section id="hero" class="d-flex align-items-center justify-content-center">
    <div class="container" data-aos="fade-up">

      <div class="row justify-content-center" data-aos="fade-up" data-aos-delay="150">
        <div class="col-xl-6 col-lg-8">
          <h1>Идеальный сервер для тебя и твоих друзей</h1>
          <h2>Мы ждём тебя на нашем сервере!</h2>
        <a href="/play"><button class= "knopka1"
        type="button"a>
        Играть
        </button>
        <a class="nav-link scrollto" href="#oservere"><button class= "knopka2"
        type="buttona"a>
        О сервере
        </button>
        </a>
      </div>
        </div>
      </div>

    </div>
  </section><!-- Херо -->

  <main id="main">

    <section id="oservere" class="oservere">
      <div class="container">
          <div class="row">
            <div class="section-titlee">
              <h2></h2>
            </div>
              <div class="col-lg-6">
                  <div class="about-text">
                      <h2>WELCOME TO LIGNUM</h2>
                      <p class="short-details">Ваш идеальный SMP сервер.</p>
                      <p class="long-details">Наш сервер предлагает погрузиться в новую эру приватных SMP серверов, без "шаблонных" заявок или проходок. На нашем сервере вы сможете найти новых друзей, реализовать свой уникальный проект или присоединиться уже к существующему. Для нас важна ламповость комьюнити,  именно поэтому мы прислушиваемся к каждому игроку</p>
                      <a ></a>
                  </div>
              </div>
              <div class="image col-lg-6" style='background-image: url("assets/img/about.png");'></div>
          <div class="col-lg-6">
                  </div>
              </div>
          </div>
      </div>
  </section>


    <!-- ======= особенности ======= -->
    <section id="features" class="features">
      <div class="container">
        <div class="row">
          <div class="image col-lg-6" style='background-image: url("assets/img/features.png");'></div>
          <div class="col-lg-6">
            <div class="icon-box mt-5 mt-lg-0" >
              <i class="ri-mail-unread-line"></i>
              <h4>Без заявок и проходок</h4>
              <p>Чтобы играть на нашем сервере, вам не придется заполнять анкету или покупать проходку</p>
            </div>
            <div class="icon-box mt-5" >
              <i class="ri-shield-keyhole-line"></i>
              
              <h4>Без приватов</h4>
              <p>У нас активная администрация, которая следит за каждым. По этому мы быстро находим нарушителей и наказываем их ☠️ </p>
            </div>
            <div class="icon-box mt-5" >
              <i class="ri-code-s-slash-line"></i>
              <h4>Плагины</h4>
              <p>На сервере присутствуют все необходимые плагины для комфортной игры. А так же самописные , для разнообразия игрового контента ✅ </p>
            </div>
            <div class="icon-box mt-5" >
              <i class="ri-lightbulb-flash-line"></i>
              <h4>Ламповость</h4>
              <p>Все наши игроки одно большое и дружелюбное комьюнити. Поэтому именно ты без труда вольёшься в нашу семью</p>
            </div>
          </div>
        </div>

      </div>
    </section><!-- особенности -->

    <!-- ======= Гайды ======= -->
    <section id="services" class="services">
      <div class="container">

        <div class="section-title">
          <h2>Гайды</h2>
        </div>

        <div class="row">
          <div class="col-lg-4 col-md-6 d-flex align-items-stretch"> <a href="/wiki">
            <div class="icon-box">
              <div class="icon"><i class="ri-gamepad-line"></i></div>
              <h4><font color="#fff">Как начать играть?</font></h4>
              <p><font color="#fff">Тут написано как присоединиться к нам</font></p>
            </div>
          </a>
          </div>

          <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-md-0"> <a href="/wiki">
            <div class="icon-box">
              <div class="icon"><i class="bx bx-file"></i></div>
              <h4><font color="#fff">Правила</font></h4>
              <p><font color="#fff">Ознакомьтесь со всеми правилами нашего сервера</font></p>
            </div>
          </a>
          </div>

          <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-lg-0"><a href="/wiki"> 
            <div class="icon-box">
              <div class="icon"><i class="ri-save-line"></i></div>
              <h4><font color="#fff">Все гайды</font></h4>
              <p><font color="#fff">Вся информация о датапаках, плагинах и модах</font></p>
            </div>
          </a>
          </div>
          </div>

        </div>

      </div>
    </section>



    <!-- ======= КТА ======= -->
    <!-- <section id="cta" class="cta">
      <div class="container">

        <div class="text-center">
          <h3>Помощь</h3>
          <p> Если вам нравится наш проект, и вы хотите чтоб он и дальше развивался вы можете поддержать нас чеканной монетой.</p>
        </div>
      </div>
    </section> -->




    <section id="helper" class="helper">
      <div class="container">
       <div class="row"> 
           <div class="col-lg-12" >
               <div class="section-title" >
                   <h2>Частые вопросы</h2>
               </div>
              </section>
            

              <section class="osobennosti">
                <div id="faq">
                  <ul>
                    <li>
                      <input type="checkbox" checked>
                      <i></i>
                      <h2>Нужна ли лицензия?</h2>
                      <p>В данный момент - да. Но мы планируем в будущем поддержку пиратской версии игры</p>
                    </li>
                    <li>
                      <input type="checkbox" checked>
                      <i></i>
                      <h2>Почему бесплатно?</h2>
                      <p>Мы не можем точно ответить на данный вопрос. Но мы можем с уверенностью сказать, что многие люди просто хотят без лишней волокиты зайти на сервер и просто отдохнуть. Именно по этому мы решили попробовать такой формат <a href="https://media.tenor.com/mQRhi8EQVdgAAAAd/бесплатно-besplatno.gif">:)</a></p>
                    </li>
                    <li>
                      <input type="checkbox" checked>
                      <i></i>
                      <h2>Что будет если меня загрифят?</h2>
                      <p>На сервере стоит плагин, который записывает все действия игроков. Если у вас что-то своровали, вы можете написать администрации. Факт кражи проверят, а нарушителя накажут. Если вас загриферят, то грифер получит бан, а ваши постройки восстановят </p>
                    </li>
                  </ul>
                </div>
            </section>





    <!-- <section id="helper" class="helper" data-aos="fade-up">
         <div class="container">
          <div class="row"> 
              <div class="col-lg-12" >
                  <div class="section-title" >
                      <h2>Особенности сервера</h2>
                  </div>
                  <div class="toggle-option">
                      <ul>
                      </ul>
              </div>
      <div class="slider-controls" id="slider-controls" >
      <label for="btn-1" >Привет</label>  
        <label for="btn-2">О сервере</label>
          <label for="btn-3">Чё то еще</label>
        </div>
      <div class="slider">
        <input type="radio" name="toggle" id="btn-1" checked>
        <input type="radio" name="toggle" id="btn-2"> 
        <input type="radio" name="toggle" id="btn-3">
      
        <ul class="slides" id="Slides">
          <li class="slide">
            <div class="slide-content">
              <h2 class="slide-title">Особенности сервера</h2>
              <p class="slide-text">Аниме — сериал «Блич» был сделан на студии Studio Pierrot и начал транслироваться 5 октября 2004 года на японском канале TV Tokyo. 15 марта 2006 года компания Viz Media приобрела у TV Tokyo.</p>
            </div>
            <p class="slide-image">
              <img src="assets/img/xyina.png" alt="stuff" width="320" height="240">
            </p>
          </li>
          <li class="slide">
            <div class="slide-content">
              <h2 class="slide-title">О сервере</h2>
              <p class="slide-text">Аниме — сериал «Блич» был сделан на студии Studio Pierrot и начал транслироваться 5 октября 2004 года на японском канале TV Tokyo. 15 марта 2006 года компания Viz Media приобрела у TV Tokyo</p>
            </div>
            <p class="slide-image">
              <img src="assets/img/chat.png" alt="stuff" width="320" height="240">
            </p>
          </li>
          <li class="slide">
            <div class="slide-content">
              <h2 class="slide-title">Чё то еще</h2>
              <p class="slide-text">Аниме — сериал «Блич» был сделан на студии Studio Pierrot и начал транслироваться 5 октября 2004 года на японском канале TV Tokyo. 15 марта 2006 года компания Viz Media приобрела у TV Tokyo.</p>
            </div>
            <p class="slide-image">
              <img src="assets/img/emotes.png" alt="stuff" width="320" height="240">
            </p>
          </li>
        </ul>
      </div>
    </section> -->




































          <!-- </div>
          <div class="row">
              <div class="col-lg-4">
                  <div class="single-price-plan" data-aos="zoom-in" data-aos-delay="200">
                      <h4>мини</h4>
                      <div class="price-plan">
                          <h2>50 <span>₽</span></h2>
                          <p>спасибо</p>
                      </div>
                      <ul>
                        <li>мы тебе дадим хуй пойми что</li>
                        <li>Я реально не ебу что</li>
                        <li>Да иди ты нахуй</li>
                        <li>пошел в пизду хуесос</li>
                      </ul>
                      <a href="#" class="primary-btn price-btn">Оплатить</a>
                  </div>
              </div>
              <div class="col-lg-4">
                  <div class="single-price-plan" data-aos="zoom-in" data-aos-delay="200">
                      <h4>нормал</h4>
                      <div class="price-plan">
                          <h2>300 <span>₽</span></h2>
                          <p>большое спасибо</p>
                      </div>
                      <ul>
                          <li>мы тебе дадим хуй пойми что</li>
                          <li>Я реально не ебу что</li>
                          <li>Да иди ты нахуй</li>
                          <li>пошел в пизду хуесос</li>
                      </ul>
                      <a href="#" class="primary-btn price-btn">Оплатить</a>
                      <div class="tic-text">
                          <i class="fa fa-star"></i>
                      </div>
                  </div>
              </div>
              <div class="col-lg-4">
                  <div class="single-price-plan" data-aos="zoom-in" data-aos-delay="200">
                      <h4>Дахуя</h4>
                      <div class="price-plan">
                          <h2>500 <span>₽</span></h2>
                          <p>Огромное спасибо</p>
                      </div>
                      <ul>
                        <li>мы тебе дадим хуй пойми что</li>
                        <li>Я реально не ебу что</li>
                        <li>Да иди ты нахуй</li>
                        <li>пошел в пизду хуесос</li>
                      </ul>
                      <a href="#" class="primary-btn price-btn">Оплатить</a>
                  </div>
              </div>
          </div>
      </div>
  </section> -->


    
    <!-- <section id="portfolio" class="portfolio">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Скриншоты</h2>
        </div>

        <div class="row" data-aos="fade-up" data-aos-delay="100">
          <div class="col-lg-12 d-flex justify-content-center">
            <ul id="portfolio-flters">
              <li data-filter="*" class="filter-active">Все</li>
              <li data-filter=".filter-app">Спавн</li>
              <li data-filter=".filter-card">Постройки</li>
              <li data-filter=".filter-web">Игроки</li>
            </ul>
          </div>
        </div>

        <div class="row portfolio-container" data-aos="fade-up" data-aos-delay="200">

          <div class="col-lg-4 col-md-6 portfolio-item filter-app">
            <div class="portfolio-wrap">
              <img src="assets/img/portfolio/portfolio-1.jpg" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4>Скрин</h4>
                <div class="portfolio-links">
                  <a href="assets/img/portfolio/portfolio-1.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox" title="App 1"><i class="bx bx-plus"></i></a>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-web">
            <div class="portfolio-wrap">
              <img src="assets/img/portfolio/portfolio-2.jpg" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4>Скрин</h4>
                <div class="portfolio-links">
                  <a href="assets/img/portfolio/portfolio-2.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox" title="Web 3"><i class="bx bx-plus"></i></a>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-app">
            <div class="portfolio-wrap">
              <img src="assets/img/portfolio/portfolio-3.jpg" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4>Скрин</h4>
                <div class="portfolio-links">
                  <a href="assets/img/portfolio/portfolio-3.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox" title="App 2"><i class="bx bx-plus"></i></a>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-card">
            <div class="portfolio-wrap">
              <img src="assets/img/portfolio/portfolio-4.jpg" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4>Скрин</h4>
                <div class="portfolio-links">
                  <a href="assets/img/portfolio/portfolio-4.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox" title="Card 2"><i class="bx bx-plus"></i></a>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-web">
            <div class="portfolio-wrap">
              <img src="assets/img/portfolio/portfolio-5.jpg" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4>Скрин</h4>
                <div class="portfolio-links">
                  <a href="assets/img/portfolio/portfolio-5.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox" title="Web 2"><i class="bx bx-plus"></i></a>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-app">
            <div class="portfolio-wrap">
              <img src="assets/img/portfolio/portfolio-6.jpg" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4>Скрин</h4>
                <div class="portfolio-links">
                  <a href="assets/img/portfolio/portfolio-6.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox" title="App 3"><i class="bx bx-plus"></i></a>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-card">
            <div class="portfolio-wrap">
              <img src="assets/img/portfolio/portfolio-7.jpg" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4>Скрин</h4>
                <div class="portfolio-links">
                  <a href="assets/img/portfolio/portfolio-7.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox" title="Card 1"><i class="bx bx-plus"></i></a>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-card">
            <div class="portfolio-wrap">
              <img src="assets/img/portfolio/portfolio-8.jpg" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4>Скрин</h4>
                <div class="portfolio-links">
                  <a href="assets/img/portfolio/portfolio-8.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox" title="Card 3"><i class="bx bx-plus"></i></a>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-web">
            <div class="portfolio-wrap">
              <img src="assets/img/portfolio/portfolio-9.jpg" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4>Скрин</h4>
                <div class="portfolio-links">
                  <a href="assets/img/portfolio/portfolio-9.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox" title="Web 3"><i class="bx bx-plus"></i></a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section> -->
    
  </section><!-- мы в сетях -->

  <section id="services" class="services">
    <div class="container" data-aos="fade-up">

      <div class="section-title">
        <h2>Мы в соц сетях</h2>
      </div>
      <div class="button-container123">

        <div class="glass-btn blue-btn">
          <!--<div class="content">
            h
          </div> -->
          <a href="https://discord.gg/UhNPtW26Vj"><img src="https://i.postimg.cc/d38PvqpP/discord-2.png" alt="facebook" style="width: 5.5em;"></a>
        </div>
      
        <div class="glass-btn red-btn">
          <!-- <div class="content">
            e
          </div> -->
          <a href="https://vk.com/lignumc"><img src="https://i.postimg.cc/TYwqZkDQ/vk.png" alt="youtube" style="width: 6em;"></a>
        </div>
        
        <div class="glass-btn amber-btn">
          <!-- <div class="content">
            y
          </div> -->
          <a href="https://www.youtube.com/@mc-lignum-su"><img src="https://i.postimg.cc/mrdGSYPP/youtube6.png" alt="soundcloud" style="width: 7em;"></a>
        </div>
      
      </div>
        </div>
        </div>

      </div>

    </div>
  </section><!-- мы в сетях -->

  <!-- ======= Хуета ======= -->
  <footer id="footer">
      <div class="container">
    <div class="container">
      <div class="copyright">
        <strong><span>LIGNUM</span></strong>. 2023
        <p>beta site</p>
      </div>
      <div class="credits">
      </div>
    </div>
    
  <div id="preloader"></div>
  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>


  <!-- JS ФАЙЛ -->
  <script src="assets/js/main.js"></script>
</html>