<html lang="ru">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <!-- <meta name="viewport" content="width=device-width, initial-scale=1"> -->

  <title>LIGNUM FAQ</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="assets/vendor/aos/aos.css" rel="stylesheet">
  <link href="assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="assets/vendor/remixicon/remixicon.css" rel="stylesheet">
  <link href="assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

  <!--  Значки fa fa  -->
  <link rel="stylesheet" href="assets/css/fontawesome.css">
 <!--  Значки fa fa  -->

 <script src="assets/vendor/purecounter/purecounter_vanilla.js"></script>
 <script src="assets/vendor/aos/aos.js"></script>
 <script src="assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
 <script src="assets/vendor/glightbox/js/glightbox.min.js"></script>
 <script src="assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
 <script src="assets/vendor/swiper/swiper-bundle.min.js"></script>
 <script src="assets/vendor/php-email-form/validate.js"></script>




  <link href="assets/css/WIKI.css" rel="stylesheet">
  <!-- Главный css файл -->
  <link href="assets/css/style.css" rel="stylesheet">


  <link href="https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500&display=swap" rel="stylesheet"> 
  <link href="https://unpkg.com/ionicons@4.5.10-0/dist/css/ionicons.min.css" rel="stylesheet">



</head>

<body>
  <%- include('./partial/header') %>

  <section>
    <div class="tabs">
  
        <div class="tabs__content">

        </div>

<!-- Раздел Моды ресурсы -->

            <div class="tabs__item" id="tab_3">
              <div class="tabs__nav">
                <button class="tabs__nav-btn" type="button" data-tab="#tab_1">WIKI LIGNUM</button>
                <button class="tabs__nav-btn" type="button" data-tab="#tab_2">Как начать играть</button>
                <button class="tabs__nav-btn" style="background-color: #ffc451; color: #000000;" type="button" data-tab="#tab_3">Моды и Ресурспаки  <div class="strelkaa"><i class="ri-arrow-down-s-line"></i></div> </button>
                <div class="verticalLine">
                <button class="tabs__nav-btn" style="margin-left: 10px; background-color: #242424;" type="button" data-tab="#tab_4">Голосовой чат</button>
                <button class="tabs__nav-btn" style="margin-left: 10px; background-color: #242424;" type="button" data-tab="#tab_5">Эмоции</button>
              </div>
                <button class="tabs__nav-btn" type="button" data-tab="#tab_6">Команды и плагины<div class="stelkanorm"><i class="ri-arrow-right-s-line"></i></div></button>
                <button class="tabs__nav-btn" type="button" data-tab="#tab_7">Правила</button>
                
            </div>
            <h1 class = "osnova" >Моды и Ресурспаки</h1>
            <div id="Osnovaa"><h2 class ="osnova4" style="padding: 0px 0px 20px;">Зайти на сервер можно без модов, но мы настоятельно рекомендуем скачать моды на голосовой чаты и эмоции. Чтобы улучшить ваш игровой опыт на нашем проекте.</h2> 
            </div>
            <div id="Osnovaa" style="padding: 0px 0px 10px;"><h2 class ="osnova4" style="padding: 23px 26px 20px; border: 1px solid rgb(221, 200, 12); border-radius: 20px; background-color: #78752b6b;">Будьте внимательны! Для участия в ивентах, вам необходим голосовой чат.</h2> 
            </div>
            <div class="osnova3333" >
              <button class="tabs__nav-btn" style="border: 1px solid #242424; width:auto; border-radius: 20px;width: -webkit-fill-available;" type="button" data-tab="#tab_4"><div class="textigrat"><h2 class ="maleni">Далее</h2>
                <h2 class = "igratknopka">Голосовой чат</h2> </div></a>
                <!-- <div class = "STRELKA"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="36" height="36"><path d="M16.1716 10.9999L10.8076 5.63589L12.2218 4.22168L20 11.9999L12.2218 19.778L10.8076 18.3638L16.1716 12.9999H4V10.9999H16.1716Z"></path></svg></div> -->
              </button>
                </div> 
            </div>


<!-- Раздел Голосовой чат -->

            <div class="tabs__item" id="tab_4">
              <div class="tabs__nav">
                <button class="tabs__nav-btn" type="button" data-tab="#tab_1">WIKI LIGNUM</button>
                <button class="tabs__nav-btn" type="button" data-tab="#tab_2">Как начать играть</button>
                <button class="tabs__nav-btn" style="background-color: #242424;" type="button" data-tab="#tab_3">Моды и Ресурспаки<div class="strelkaa"><i class="ri-arrow-down-s-line"></i></div></button>
                <div class="verticalLine">
                <button class="tabs__nav-btn" style="background-color: #ffc451; color: #000000; margin-left: 10px;" type="button" data-tab="#tab_4">Голосовой чат</button>
                <button class="tabs__nav-btn" style="margin-left: 10px; background-color: #242424;" type="button" data-tab="#tab_5">Эмоции</button>
              </div>
                <button class="tabs__nav-btn" type="button" data-tab="#tab_6">Команды и плагины<div class="stelkanorm"><i class="ri-arrow-right-s-line"></i></div></button>
                <button class="tabs__nav-btn" type="button" data-tab="#tab_7">Правила</button>
            </div>
            <h1 class = "osnova" >Голосовой чат</h1>
            <div id="Osnovaa"><h2 class ="osnova4" style="padding: 0px 0px 20px;">Мод на голосовой чат: Simple Voice Chat <a href="https://www.curseforge.com/minecraft/mc-mods/simple-voice-chat">Скачать</a>.</h2> 
            </div>
              <img class="parent" src="assets/img/WIKI/golos chat.jpg">
              <h1 class = "osnova" style="padding: 40px 0px 0px;" >Как пользоваться?</h1>
              <!-- <div id="Osnovaa" style="padding: 0px 0px 20px;" ><h2 class ="osnova4" style="font-weight: 600;font-size: 24px;">Настройки</div> -->
              <div id="Osnovaa"><h2 class ="osnova4" style="padding: 0px 0px 20px;font-family: sans-serif;">Вы можете получить доступ к графическому интерфейсу голосового чата, нажав клавишу <code> <font color="#fff">V</font></code> и нажав кнопку настроек.</div>
              <div id="Osnovaa"><h2 class ="osnova4" style="padding: 0px 0px 20px;">В этом меню можно изменить общую громкость голосового чата и усиление микрофона. Кроме того, есть возможность указать устройство записи и воспроизведения.</div>
                <div id="Osnovaa"><h2 class ="osnova4" style="padding: 0px 0px 20px;">Нажав на кнопку "Включить проверку микрофона", вы сможете услышать собственный голос и настроить уровень активации голосовой активации.</div>
                  <img class="parent" src="assets/img/WIKI/GOLOS CHAT2.png">
                  <button class="tabs__nav-btn" style="border: 1px solid #242424; width:auto; border-radius: 20px;width: -webkit-fill-available;" type="button" data-tab="#tab_5"><div class="textigrat"><h2 class ="maleni">Далее</h2>
                    <h2 class = "igratknopka">Эмоции</h2> </div></a>
                    <!-- <div class = "STRELKA"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="36" height="36"><path d="M16.1716 10.9999L10.8076 5.63589L12.2218 4.22168L20 11.9999L12.2218 19.778L10.8076 18.3638L16.1716 12.9999H4V10.9999H16.1716Z"></path></svg></div> -->
                  </button>
            </div>

<!-- Раздел Эмоции -->

            <div class="tabs__item" id="tab_5">
              <div class="tabs__nav">
                <button class="tabs__nav-btn" type="button" data-tab="#tab_1">WIKI LIGNUM</button>
                <button class="tabs__nav-btn" type="button" data-tab="#tab_2">Как начать играть</button>
                <button class="tabs__nav-btn" style="background-color: #242424;" type="button" data-tab="#tab_3">Моды и Ресурспаки<div class="strelkaa"><i class="ri-arrow-down-s-line"></i></div></button>
                <div class="verticalLine">
                <button class="tabs__nav-btn" style="margin-left: 10px; background-color: #242424;" type="button" data-tab="#tab_4">Голосовой чат</button>
                <button class="tabs__nav-btn" style="background-color: #ffc451; color: #000000; margin-left: 10px;" type="button" data-tab="#tab_5">Эмоции</button>
              </div>
                <button class="tabs__nav-btn" type="button" data-tab="#tab_6">Команды и плагины <div class="stelkanorm"><i class="ri-arrow-right-s-line"></i></div></button>
                <button class="tabs__nav-btn" type="button" data-tab="#tab_7">Правила</button>
            </div>
            <h1 class = "osnova" >Эмоции</h1>
            <div id="Osnovaa"><h2 class ="osnova4" style="padding: 0px 0px 20px;">На сервере реализована система Эмоций: EmoteCraft <a href="https://www.curseforge.com/minecraft/mc-mods/emotecraft">Скачать</a>.</h2> 
              <img class="parent" src="assets/img/WIKI/Emote.png">
              <h1 class = "osnova" style="padding: 40px 0px 0px;" >Как пользоваться?</h1>
              <div id="Osnovaa"><h2 class ="osnova4" style="padding: 0px 0px 20px;">Данная гифка кратко представляет из себя мини туториал:</div>
                <img class="parent" src="assets/img/WIKI/Emote2.gif">
                <button class="tabs__nav-btn" style="border: 1px solid #242424; width:auto; border-radius: 20px;width: -webkit-fill-available;" type="button" data-tab="#tab_6"><div class="textigrat"><h2 class ="maleni">Далее</h2>
                  <h2 class = "igratknopka">Команды и плагины</h2> </div></a>
                  <!-- <div class = "STRELKA"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="36" height="36"><path d="M16.1716 10.9999L10.8076 5.63589L12.2218 4.22168L20 11.9999L12.2218 19.778L10.8076 18.3638L16.1716 12.9999H4V10.9999H16.1716Z"></path></svg></div> -->
                </button>
            </div>
          </div> 
<!-- Раздел Команды и плагины -->
            <div class="tabs__item" id="tab_6">
              <div class="tabs__nav">
                <button class="tabs__nav-btn" type="button" data-tab="#tab_1">WIKI LIGNUM</button>
                <button class="tabs__nav-btn" type="button" data-tab="#tab_2">Как начать играть</button>
                <button class="tabs__nav-btn" type="button" data-tab="#tab_3">Моды и Ресурспаки<div class="stelkanorm"><i class="ri-arrow-right-s-line"></i></div></button>
                <button class="tabs__nav-btn" style="background-color: #ffc451; color: #000000;" type="button" data-tab="#tab_6">Команды и плагины<div class="strelkaa"><i class="ri-arrow-down-s-line"></i></div></button>
                <div class="verticalLine">
                <button class="tabs__nav-btn" style="margin-left: 10px; background-color: #242424;" type="button" data-tab="#tab_8">Чат</button>
                <button class="tabs__nav-btn" style="margin-left: 10px; background-color: #242424;" type="button" data-tab="#tab_10">Баланс</button>
                <button class="tabs__nav-btn" style="margin-left: 10px; background-color: #242424;" type="button" data-tab="#tab_11">Другие Плагины</button>
              </div>
                <button class="tabs__nav-btn" type="button" data-tab="#tab_7">Правила</button>
            </div>
            <h1 class = "osnova" >Команды и плагины.</h1>
            <div id="Osnovaa"><h2 class ="osnova4" style="padding: 0px 0px 20px;">На сервере установлены небольшие плагины и датапаки для более комфортной игры. Данный раздел поможет вам разобраться что к чему</h2> </div>
            <button class="tabs__nav-btn" style="border: 1px solid #242424; width:auto; border-radius: 20px;width: -webkit-fill-available;" type="button" data-tab="#tab_8"><div class="textigrat"><h2 class ="maleni">Далее</h2>
              <h2 class = "igratknopka">Чат</h2> </div></a>
              <!-- <div class = "STRELKA"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="36" height="36"><path d="M16.1716 10.9999L10.8076 5.63589L12.2218 4.22168L20 11.9999L12.2218 19.778L10.8076 18.3638L16.1716 12.9999H4V10.9999H16.1716Z"></path></svg></div> -->
            </button>
            </div>
 
        


<!-- Раздел ЧАТ -->

            <div class="tabs__item" id="tab_8">
              <div class="tabs__nav">
                <button class="tabs__nav-btn" type="button" data-tab="#tab_1">WIKI LIGNUM</button>
                <button class="tabs__nav-btn" type="button" data-tab="#tab_2">Как начать играть</button>
                <button class="tabs__nav-btn" type="button" data-tab="#tab_3">Моды и Ресурспаки<div class="stelkanorm"><i class="ri-arrow-right-s-line"></i></div></button>
                <button class="tabs__nav-btn" style="background-color: #242424; " type="button" data-tab="#tab_6">Команды и плагины<div class="strelkaa"><i class="ri-arrow-down-s-line"></i></div></button>
                <div class="verticalLine">
                <button class="tabs__nav-btn" style="margin-left: 10px; background-color: #ffc451; color: #000000;" type="button" data-tab="#tab_8">Чат</button>
                <button class="tabs__nav-btn" style="margin-left: 10px; background-color: #242424;" type="button" data-tab="#tab_10">Баланс</button>
                <button class="tabs__nav-btn" style="margin-left: 10px; background-color: #242424;" type="button" data-tab="#tab_11">Другие Плагины</button>
              </div>
                <button class="tabs__nav-btn" type="button" data-tab="#tab_7">Правила</button>
            </div>
            <h1 class = "osnova" >Локальный чат</h1>
            <div id="Osnovaa"><h2 class ="osnova4" style="padding: 0px 0px 20px;font-family: sans-serif;">На сервере есть локальный чат, который помечен префиксом  <code> <font color="#fff">L</font></code> в чате. Локальный чат
              действует в радиусе <code> <font color="#fff">128 блоков</font></code>. </div>
              <div id="Osnovaa"><h2 class ="osnova4" style="padding: 0px 0px 20px;font-family: sans-serif;">Чтобы писать в глобальный чат поставьте <code> <font color="#fff">!</font></code> перед сообщением: <code><font color="#fff">!сообщение</font></code>.</div>
              <div id="Osnovaa"><h2 class ="osnova4" style="padding: 0px 0px 20px;font-family: sans-serif;">Сообщения в глобальном чате помечены префиксом  <code> <font color="#fff">G</font></code>.</div>
              <div id="Osnovaa"><h2 class ="osnova4" style="padding: 0px 0px 20px;font-family: sans-serif;">Так же на сервере глобальный чат связан с текстовым каналом в дискорде. Этот канал называется:<code> <font color="#fff">#🎮ㆍигра</font></code>.</div>
              <div id="Osnovaa"><h2 class ="osnova4" style="padding: 0px 0px 20px;font-family: sans-serif;">Если кто-то отправит сообщение через дискорд, то его сообщение будет отмеченно префиксом <code> <font color="#fff">D</font></code>.</div>
              <div id="Osnovaa"><h2 class ="osnova4" style="padding: 20px 16px 20px;font-family: sans-serif;border: 1px solid #242424;border-radius: 20px;">Префикс: ⭐️ - сообщение отправлено от администратора.</div>
                  <h1 class = "osnova" style="top: 15px;" >Личные сообщения</h1>
                  <div id="Osnovaa" style="padding: 30px 0px 0px;" ><h2 class ="osnova4" style="padding: 0px 0px 20px;font-family: sans-serif;">Можно писать игрокам в личные сообщения</div>
                  <div id="Osnovaa"><h2 class ="osnova4" style="padding: 0px 0px 20px;font-family: sans-serif;"><code><font color="#fff">/msg</font></code>,<code><font color="#fff">/tell</font></code> — Разные варианты команд для отправки личных сообщений</div>
                    <div id="Osnovaa"><h2 class ="osnova4" style="padding: 0px 0px 20px;font-family: sans-serif;"><code><font color="#fff">/r (сообщение)</font></code> — Ответить в личные сообщения игроку, который написал вам последним</div>
                      <button class="tabs__nav-btn" style="border: 1px solid #242424; width:auto; border-radius: 20px;width: -webkit-fill-available;" type="button" data-tab="#tab_9"><div class="textigrat"><h2 class ="maleni">Далее</h2>
                        <h2 class = "igratknopka">Редактор стен</h2> </div></a>
                        <!-- <div class = "STRELKA"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="36" height="36"><path d="M16.1716 10.9999L10.8076 5.63589L12.2218 4.22168L20 11.9999L12.2218 19.778L10.8076 18.3638L16.1716 12.9999H4V10.9999H16.1716Z"></path></svg></div> -->
                      </button>
            </div>
           


<!-- Раздел Баланс -->

<div class="tabs__item" id="tab_10">
  <div class="tabs__nav">
    <button class="tabs__nav-btn" type="button" data-tab="#tab_1">WIKI LIGNUM</button>
    <button class="tabs__nav-btn" type="button" data-tab="#tab_2">Как начать играть</button>
    <button class="tabs__nav-btn" type="button" data-tab="#tab_3">Моды и Ресурспаки<div class="stelkanorm"><i class="ri-arrow-right-s-line"></i></div>  </button>
    <button class="tabs__nav-btn" style="background-color: #242424; " type="button" data-tab="#tab_6">Команды и плагины<div class="strelkaa"><i class="ri-arrow-down-s-line"></i></div></button>
    <div class="verticalLine">
    <button class="tabs__nav-btn" style="margin-left: 10px; background-color: #242424;" type="button" data-tab="#tab_8">Чат</button>
    <button class="tabs__nav-btn" style="margin-left: 10px; background-color: #ffc451; color: #000000;" type="button" data-tab="#tab_10">Баланс</button>
    <button class="tabs__nav-btn" style="margin-left: 10px; background-color: #242424;" type="button" data-tab="#tab_11">Другие Плагины</button>
  </div>
    <button class="tabs__nav-btn" type="button" data-tab="#tab_7">Правила</button>
</div>
<h1 class = "osnova" >Баланс</h1>
<div id="Osnovaa"><h2 class ="osnova4">Мы решили, что баланс на подобных серверах сломан, поэтому мы приняли решение немного усложнить игру.</h2></div>
<h2 class = "igratknopka" style="padding: 20px 0px; font-weight: 800;" >Изменение торговли</h2></a>
<div id="Osnovaa"><h2 class ="osnova4" style="padding: 0px 0px 20px;">Мы удалили все возможные скидки у жителей, а так же, теперь нельзя приобрести "починку" у библиотекаря.</h2></div>
<h2 class = "igratknopka" style="padding: 20px 0px; font-weight: 800;" >Изменение Элитр</h2></a>
<div id="Osnovaa"><h2 class ="osnova4" style="padding: 0px 0px 20px;">Теперь обычные фейверки не дают вам летать. Для того, чтобы вернуть данную возможность, мы создали уникальный фейверк с возможностью прокачки.</h2></div>
<!-- <img class="parent" src="assets/img/CRAFT.png">
<img class="parent" src="assets/img/Apgraid1.png">
<img class="parent" src="assets/img/Apgreid2.png"> -->
<div class="all">
  <input checked type="radio" name="respond" id="desktop">
    <article id="slider">
        <input checked type="radio" name="slider" id="switch1">
        <input type="radio" name="slider" id="switch2">
        <input type="radio" name="slider" id="switch3">
      <div id="slides">
        <div id="overflow">
          <div class="image">
            <article><img src="assets/img/Apgraid1.png"></article>
            <article><img src="assets/img/Apgreid2.png"></article>
            <article><img src="assets/img/CRAFT.png"></article>
          </div>
        </div>
      </div>
      <div id="active">
        <label for="switch1"></label>
        <label for="switch2"></label>
        <label for="switch3"></label>
      </div>
    </article>
</div>


<div id="Osnovaa"><h2 class ="osnova4" style="padding: 20px 16px 20px;font-family: sans-serif;border: 1px solid #242424;border-radius: 20px;">Выше указанные фейверки возвращают возможность летать.</div>
  <h2 class = "igratknopka" style="padding: 20px 0px 20px;font-weight: 800;">Починка</h2></a>
  <div id="Osnovaa"><h2 class ="osnova4" style="padding: 0px 0px 20px;">Теперь починка падает с Эндер дракона. В количестве от 1 до 3х штук.</h2></div>
  <div id="Osnovaa"><h2 class ="osnova4" style="padding: 20px 16px 20px; font-family: sans-serif; border: 1px solid #f00;border-radius: 20px;background-color: #dd0f0f36;">Данный баланс не окончательный, и может меняться по мере сезона.</div>

    <button class="tabs__nav-btn" style="border: 1px solid #242424; width:auto; border-radius: 20px;width: -webkit-fill-available;" type="button" data-tab="#tab_11"><div class="textigrat"><h2 class ="maleni">Далее</h2>
      <h2 class = "igratknopka">Другие плагины</h2> </div></a>
      <!-- <div class = "STRELKA"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="36" height="36"><path d="M16.1716 10.9999L10.8076 5.63589L12.2218 4.22168L20 11.9999L12.2218 19.778L10.8076 18.3638L16.1716 12.9999H4V10.9999H16.1716Z"></path></svg></div> -->
    </button>

</div>




<!-- Другие плагны -->
<div class="tabs__item" id="tab_11">
  <div class="tabs__nav">
    <button class="tabs__nav-btn" type="button" data-tab="#tab_1">WIKI LIGNUM</button>
    <button class="tabs__nav-btn" type="button" data-tab="#tab_2">Как начать играть</button>
    <button class="tabs__nav-btn" type="button" data-tab="#tab_3">Моды и Ресурспаки<div class="stelkanorm"><i class="ri-arrow-right-s-line"></i></div></button>
    <button class="tabs__nav-btn" style="background-color: #242424; " type="button" data-tab="#tab_6">Команды и плагины<div class="strelkaa"><i class="ri-arrow-down-s-line"></i></div></button>
    <div class="verticalLine">
    <button class="tabs__nav-btn" style="margin-left: 10px; background-color: #242424;" type="button" data-tab="#tab_8">Чат</button>
    <button class="tabs__nav-btn" style="margin-left: 10px; background-color: #242424;" type="button" data-tab="#tab_10">Баланс</button>
    <button class="tabs__nav-btn" style="margin-left: 10px; background-color: #ffc451; color: #000000;" type="button" data-tab="#tab_11">Другие Плагины</button>
  </div>
    <button class="tabs__nav-btn" type="button" data-tab="#tab_7">Правила</button>
</div>
<h1 class = "osnova" >Другие плагины</h1>
<h1 class = "osnova"style="padding: 20px 0px 0px;" >Дроп с игрока</h1>
<div id="Osnovaa"><h2 class ="osnova4" style="padding: 0px 0px 20px;">При убийстве игрока, с него падает именная голова.</h2></div>
<img class="parent2" src="assets/img/WIKI/Golova.png">
<h1 class = "osnova" >Sit</h1>
<div id="Osnovaa"><h2 class ="osnova4" style="padding: 0px 0px 20px;">На сервере можно сидеть, для этого используется команда <code><font color="#fff">/sit</font></code> Либо вы можете просто кликнуть правой кнопкой мыши по: <code><font color="#fff">ступени, полу блоку, коврику</font></code></h2></div>
<h1 class = "osnova" style="padding: 20px 0px 0px;" >Мини блоки</h1>
<div id="Osnovaa"><h2 class ="osnova4" style="padding: 0px 0px 20px;">У Странствующего торговца теперь можно купить мини-блоки для декора.В зависимости от случайности, у его будет от 1 до 3х блоков. Блоки можно купить за алмаз.</h2></div>
<img class="parent3" src="assets/img/WIKI/miniblok.png">
<h1 class = "osnova" style="padding: 40px 0px 0px;" >Невидимые рамки</h1>
<div id="Osnovaa"><h2 class ="osnova4" style="padding: 0px 0px 20px;">На сервере можно создать невидимые рамки, вот их крафт.</h2></div>
<img class="parent4" src="assets/img/WIKI/Inviz.png">
<button class="tabs__nav-btn" style="border: 1px solid #242424; width:auto; border-radius: 20px;width: -webkit-fill-available;" type="button" data-tab="#tab_7"><div class="textigrat"><h2 class ="maleni">Далее</h2>
  <h2 class = "igratknopka">Правила</h2> </div></a>
  <!-- <div class = "STRELKA"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="36" height="36"><path d="M16.1716 10.9999L10.8076 5.63589L12.2218 4.22168L20 11.9999L12.2218 19.778L10.8076 18.3638L16.1716 12.9999H4V10.9999H16.1716Z"></path></svg></div> -->
</button>
</div>



<!-- Раздел ПРАВИЛА -->
            
            <div class="tabs__item" id="tab_7">
              <div class="tabs__nav">
                <button class="tabs__nav-btn" type="button" data-tab="#tab_1">WIKI LIGNUM</button>
                <button class="tabs__nav-btn" type="button" data-tab="#tab_2">Как начать играть</button>
                <button class="tabs__nav-btn" type="button" data-tab="#tab_3">Моды и Ресурспаки <div class="stelkanorm"><i class="ri-arrow-right-s-line"></i></div></button>
                <button class="tabs__nav-btn" type="button" data-tab="#tab_6">Команды и плагины <div class="stelkanorm"><i class="ri-arrow-right-s-line"></i></div></button>
                <button class="tabs__nav-btn" style="background-color: #ffc451; color: #000000;" type="button" data-tab="#tab_7">Правила</button>
            </div>
                <h1 class = "osnova" > Правила Сервера</h1>
    <div id="Osnovaa"><h2 class = "osnova4">Данные правила являются действующими на сервере. В случае обновления правил, будет дано вам оповещение для дальнейшего обязательного ознакомления.</h2> 
    </div>
        <h1 class = "osnova3" id="Osnov4"> Система варнов</h1> 
                <div class = "osnova4">
                <div class="blokjel" ><h4 class = "zelenaya">Всё очень легко. Каждое нарушение делится по цветам. За нарушение правил админы и хелперы могут выдавать желтые варны. Желтый варн —средняя степень наказания. Его можно снять, возместив ущерб на усмотрение администрации.  </h4> </div>
                <div class="blokkras" id="obs"><h4 class = "krasnaya">За повторное нарушение правил, администрация может выдать ещё один варн, и тогда желтый варн станет красным. В отличии от желтого, красный варн снять нельзя. Если вы наберете три красных варна, то вы получите бан навсегда. </h4> </div>
                </div>
        <h3 class = "osnova3" >1. Общие положения: </h3>
        <div class = "osnova4">
         <h3 class="vtorostep"> 1.1. Любой игрок, который заходит на сервер LIGNUM, автоматически считается ознакомленным со всеми правилами.</h3>
         <h3 class="vtorostep">1.2. Администратор вправе выбирать/менять степень наказания на своё усмотрение.</h3> 
         <h3 class="vtorostep">1.3. Администрация такие же игроки, но в технических моментах имеют большее преимущество.</h3>
         <h3 class="vtorostep">1.4. Окончательное решение остается за администраторами проекта.</h3>
         <h3 class="vtorostep">1.5. Запрещено изменение совместных проектов, без согласования администрации.</h3>
         <h3 class="vtorostep">1.6. Муты выдаются при спаме или в случае проявления не подавляемой агрессии.</h3>             
          <div class="blokkras"><h4 class = "krasnaya">А именно за игнорирование слов администрации, касательно нарушения.  Срок действия мута выдаётся по усмотрению представителя администрации.</h4></div>
          <h3 class="vtorostep">1.7. Возврат денежных средств не осуществляется ни при каких обстоятельствах.</h3>
          <h3 class="vtorostep">1.8. Ответственность всегда несет владелец аккаунта, независимо от того, кто совершал действия под данным аккаунтом.</h3>
          <h3 class="vtorostep">1.9. Запрещена продажа аккаунта Minecraft с доступом на сервер. </h3>
          <h3 class="vtorostep">1.10. Запрещено писать по поводу сервера админам в лс. Для этого существуют тикеты.  </h3>
          <h3 class="vtorostep">1.11. Войс-чат. У каждого игрока должен быть установлен <a href="https://www.curseforge.com/minecraft/mc-mods/simple-voice-chat">Simple Voice Chat</a></h3> 
          <h3 class="vtorostep">1.12. Администрация проекта имеет за собой право выдавать перманентный бан. Без указания и объяснения причин.</h3>
          <h3 class="vtorostep">1.13. Запрещены любые обсуждения и оспаривания действий администраторов.</h3>
        <div class="blokzel" ><h4 class = "zelenaya" id="Osnov2">Мы хотим, что бы все игроки общались внутри игры. Именно по этому наличие этого мода увеличивает РП составляющую сервера.
          Ничего страшного, если у вас нет микрофона, вы сможете всё так же писать в локальный чат. Только другие игроки смогут свами вести монолог в голосовом чате.. </h4> </div>
        </div>
            <h1 class = "osnova5" > 2. Правила игры на сервере:</h1>
             <div class = "osnova4"> 
              <h3 class="vtorostep">2.1. Общаясь с игроками сервера, вы должны проявлять уважение к друг-другу. </h3>
              <h3 class="vtorostep">2.2. Запрещен спам, флуд, и реклама сторонних проектов. </h3>
              <h3 class="vtorostep">2.3. Запрещено выдавать себя за Администрацию. </h3>
              <h3 class="vtorostep">2.4. Запрещено раздражение других игроков. </h3>
              <h3 class="vtorostep">2.5. Гриферство и читерство в любом виде запрещены на сервере, а так же дюп предметов. Разрешённый дюп — коврики для мапартов и тнт.</h3>
              <h3 class="vtorostep">2.6. Запрещается убийства без согласия, но разрешены заказные убийства.</h3>
             <div class="blokzel" ><h4 class = "zelenaya">Заказывать убийство человека можно, только в том случае, если у его есть договор с подписью заказчика-исполнителя. Должна присутствовать весомая причина, для заказа. Вещи после убийства присваивать себе или заказчику нельзя. </h4> </div>
             <h3 class="vtorostep">2.7. Запрещено оказывать услуги и продавать что-либо с сервера за реальные деньги. </h3>
             <h3 class="vtorostep">2.8. Разрешены только визуальные моды. </h3>
             <h3 class="vtorostep">2.9. Запрещено строительство лаг-машин. </h3>
             <h3 class="vtorostep">2.10. Запрещено иметь больше 250 энтити. Это связанно с тем, что мир у нас один, и на каждую ферму идёт нагрузка на сервер. Так что просим игроков самим регулировать количество энтити.</h3>
                <div class="blokzel" ><h4 class = "zelenaya">Узнать количество энтити, можно через F3 пункт E: число видимых энтити/общее число прогруженных энтити.  Пример: У вас 173 энтити.  </a> </h4> </div>
                <div class="blokzel" ><h4 class = "zelenaya" id="Osnov3">В случае, если будет выявлено на прогруженной местности более 250Е - будут применяться меры. </h4> </div>
              </div>
                  <h1 class = "osnova5" > 3. Правила role-play:</h1>
                  <div class = "osnova4">
                  <h1 class = "osnova55" style="padding: 0px;"> 3.1 Ивенты</h1>
               
                  <h3 class="vtorostep">• Ивенты могут устраивать все игроки сервера. </h3>
                  <h3 class="vtorostep">• Ивенты не должны нарушать правила сервера. </h3>
                  <h3 class="vtorostep">• Вся ответственность лежит на организаторах ивента </h3> 
                </div>
                <div class = "osnova4">
                  <h1 class = "osnova55"> 3.2 Кланы</h1>
                  <h3 class="vtorostep">3.2.1 Если 3 и более игрока живут вместе, то это считается за клан. </h3>
                  <h3 class="vtorostep">3.2.2 Максимальное количество участников в клане 5 человек. </h3> 
                  <h3 class="vtorostep">3.2.3 Игроку запрещается быть в нескольких кланах одновременно. </h3> 
                </div>
                <div class = "osnova4"> 
                   <h1 class = "osnova55"> 3.3 Правила войны</h1>
                    <h3 class="vtorostep">На любом сервере есть конфликты, часто люди решают их войнами, мол кто выиграл - тот прав. С помощью войны игроки могу решать конфликты между собой, потому мы добавили пару правил для их ведения: </h3>
                    <h3 class="vtorostep">• 3.3.0 Если на сервере проводятся какие либо конфликты, битвы, войны, то это является ивентом.</h3>
                    <h3 class="vtorostep">Что-бы начать войну нужно соблюдать следующие правила: </h3>
                   <div class="blokzel" ><h4 class = "zelenaya">3.3.1 Со стороны, начинающей войну, должен быть предоставлен письменный документ оппозиционной стороне, где будут прописаны причина, условия, условия победы. Если оппозиционная сторона не согласна  с одним из пунктов, то она имеет право отказаться от конфликта и он не может быть начатым. </h4> </div>
                   <div class="blokzel" ><h4 class = "zelenaya">3.3.1 Война ни в коем случае не должна задевать общественную территорию. (спавн, хаб в аду, энд.) А так же частную территорию. (Города/страны/базы кланов.) Которые ни как не относятся к военным действиям и сторонам конфликта.  </h4> </div>
                  </div>
                  <div class = "osnova4"> 
                   <h1 class = "osnova55"> 3.4 Правила строительства</h1>
                  <h3 class="vtorostep">• 3.4.1 Спавн - это общественная территория, соответственно все постройки игроков должны быть общественными.</h3>
                   <div class="blokzel" ><h4 class = "zelenaya">Магазины, офисы, торговые центры, бары, музеи, рестораны и тд. Можно стоить.  </h4> </div>
                   <h3 class="vtorostep">• 3.4.2 Запрещено иметь базу на спавне.</h3>
                   <div class="blokzel" ><h4 class = "zelenaya">База может контактировать со спавном. Но не являться частью или районом спавна.</h4> </div>
                   <h3 class="vtorostep">• Самая ближайшая крепость и портал края к спавну, является общественной.</h3>
                   <h3 class="vtorostep">• 3.4.4 Главный остров края является общественным.</h3> 
                </div>       
                <div class = "osnova4">          
                <h1 class = "osnova55"> 3.5 Emotecraft</h1>
                <h3 class="vtorostep">• 3.5.1 Оскорбительные эмоции.</h3>
                <div class="blokkras"><h4 class = "krasnaya">Запрещены эмоции сексуального характера и эмоции унижающие/угнетающие кого либо.</h4> </div>
                <h3 class="vtorostep">• >3.5.2 Сломанные эмоции</h3>
                <div class="blokjel"><h4 class = "krasnaya">Запрещены сломанные эмоции которые могут принести неудобство другим игрокам.</h4> </div>
              </div>
              <div class = "osnova4"> 
                <h1 class = "osnova5"> 3.6 Выборы</h1> 
                <h3 class="vtorostep">Президент это самый обычный игрок. Он не имеет право менять правила, но может повлиять на добавление плагина/датапака. Так же президент имеет отдельный префикс — Клевер <font color="#00ff89">☘</font>
                  Президент нужен для координирования игроков и развития сервера.</h3> 
                <h3 class="vtorostep">• 3.6.1 Не допущение к выборам</h3>
                <div class="blokzel" ><h4 class = "zelenaya">Все игроки могут баллотироваться на выборах, кроме игроков с красным варном.</h4> </div>
                <h3 class="vtorostep">• 3.6.2 Вмешивание администрации</h3>
                <div class="blokzel" ><h4 class = "zelenaya">Администрация точно такие же игроки сервера как и вы. Единственное превосходство — техническая часть. 
                  По этому вмешивание администрации в правлении президента будет минимальным.  Администрация сможет с лёгкостью снять президента только в одном случае. Если тот будет дико нарушать правила сервера. Другими словами — если президент получит красный варн.</h4> </div>
                <h3 class="vtorostep">• 3.6.3 Свержение</h3>
                <div class="blokzel" ><h4 class = "zelenaya">Игроки в праве свергнуть президента. Для этого нужны митинги и другие акции протеста. По итогу протеста, будет начато голосование. Если большая часть игроков будет против действующего президента, то действующий президент обязан сложить свои полномочия.</h4> <h4 class = "zelenayaa"> Если президент не сложит свои полномочия, то администрация сможет начать уникальный ивент.</h4> </div>
                <h3 class="vtorostep">• 3.6.4 Досрочные выборы</h3>
                <div class="blokzel" ><h4 class = "zelenaya">Если игрокам получилось свергнуть президента, то объявляются срочные досрочные выборы. 
                  На момент переизбрания президента, вся политическая жизнь сервера будет остановлена. Соответственно даже временного правительства не будет</h4> </div>
                <h3 class="vtorostep">• 3.6.5 Избрание и срок</h3>
                <div class="blokzel" ><h4 class = "zelenaya">Игроки будут голосовать за кандидатов с помощью листочков и воронок на спавне. Подсчёт голосов будет осуществлять независимый админ, который не принимает участие в выборах. Срок правления президента ровно 1 календарный месяц. Действующий президент не в праве переизбираться два и более раза подряд. Если не будет кандидатов для выборов, то действующий президент продлевает свой срок полномочий ещё на 2 недели. </h4> </div>
              </div>
                </div>
                
          






<!-- Раздел WIKI LIGNUM -->

            <div class="tabs__item" id="tab_1">
              <div class="tabs__nav">
                <button class="tabs__nav-btn" style="background-color: #ffc451; color: #000000;" type="button" data-tab="#tab_1">WIKI LIGNUM</button>
                <button class="tabs__nav-btn" type="button" data-tab="#tab_2">Как начать играть</button>
                <button class="tabs__nav-btn" type="button" data-tab="#tab_3">Моды и Ресурспаки <div class="stelkanorm"><i class="ri-arrow-right-s-line"></i></div></button>
                <button class="tabs__nav-btn" type="button" data-tab="#tab_6">Команды и плагины <div class="stelkanorm"><i class="ri-arrow-right-s-line"></i></div></button>
                <button class="tabs__nav-btn" type="button" data-tab="#tab_7">Правила</button>
            </div>
                <h1 class = "osnova">LIGNUM WIKI</h1>
    <div class="blokzel" ><h2 class = "osnova33">Данное вики сделано для того чтоб вы могли с легкостью и удобством ознакомиться с правилами и функционалом нашего сервера</h2> </div>
    <h1 class = "socseti">Соц.сети</h1>
    <h1 class ="socsetii"><li><a href="https://vk.com/lignumc">VK</a></h1></li>
    <h1 class ="socsetii"><li><a href="https://discord.gg/z2d9WceA">Discord</a></h1></li>
    <h1 class ="socsetii"><li><a href="https://www.youtube.com/@aperturesmp7902">YouTube</a></h1></li>
   <button class="tabs__nav-btn" style="border: 1px solid #242424; width:auto; border-radius: 20px; width: -webkit-fill-available; margin-top: 20px;" type="button" data-tab="#tab_2"><div class="textigrat"><h2 class ="maleni">Далее</h2> 
      <h2 class = "igratknopka">Играть</h2> </div></a>
      <!-- <div class = "STRELKA"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="36" height="36"><path d="M16.1716 10.9999L10.8076 5.63589L12.2218 4.22168L20 11.9999L12.2218 19.778L10.8076 18.3638L16.1716 12.9999H4V10.9999H16.1716Z"></path></svg></div> -->
    </button>
            </div>


<!-- Раздел как начать играть -->

    <div class="tabs__item" id="tab_2">
      <div class="tabs__nav">
        <button class="tabs__nav-btn" type="button" data-tab="#tab_1">WIKI LIGNUM</button>
        <button class="tabs__nav-btn" style="background-color: #ffc451; color: #000000;" type="button" data-tab="#tab_2">Как начать играть</button>
        <button class="tabs__nav-btn" type="button" data-tab="#tab_3">Моды и Ресурспаки<div class="stelkanorm"><i class="ri-arrow-right-s-line"></i></div></button>
        <button class="tabs__nav-btn" type="button" data-tab="#tab_6">Команды и плагины<div class="stelkanorm"><i class="ri-arrow-right-s-line"></i></div></button>
        <button class="tabs__nav-btn" type="button" data-tab="#tab_7" >Правила</button>
    </div>
        <h1 class = "osnova" > Начать играть</h1>
          <div class="regestracia" id="Osnovaa"><h2 class = "osnova33kakigrat">1. Зарегестрируйтесь на сайте</h2> 
                <h2 class = "osnova333"><li><a href="https://discord.gg/z2d9WceA">Регистрация</a></h2></li>
          </div>
          <div class ="Helperer">
                <h2 class="Helper">Если у вас есть проблемы с оплатой, то откройте тикет в канале <code> <font color="#fff">#поддержка</font></code> на нашем <a href="https://discord.gg/z2d9WceA">Дискорд сервере</a></h2>
         </div>
         <div class="osnova33kakigrat">
                  <h2 class = "osnova33kakigrat">2. Адрес сервера</h2>
                <div class = "Xyeta">          
                      <div class="alertt" id="successMessage">  IP скопирован 
                      </div><input type="text" id="clickboardInput" value=" 1s.lignum.su" class="copyip" readonly> 
                         <div class = "copy"><i class="ri-file-copy-line"></i>
                          </div> 
                </div> 
        </div>   
        <div class="osnova3333">
          <button class="tabs__nav-btn" style="border: 1px solid #242424; width:auto; border-radius: 20px;width: -webkit-fill-available;" type="button" data-tab="#tab_3"><div class="textigrat"><h2 class ="maleni">Далее</h2>
            <h2 class = "igratknopka">команды,ресурспаки,моды, и многое другое</h2> </div></a>
            <!-- <div class = "STRELKA"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="36" height="36"><path d="M16.1716 10.9999L10.8076 5.63589L12.2218 4.22168L20 11.9999L12.2218 19.778L10.8076 18.3638L16.1716 12.9999H4V10.9999H16.1716Z"></path></svg></div> -->
          </button>
            </div> 
      
     </div>  

  <script src="assets/js/app.js"></script>
  <script src="assets/js/script.js"></script>
  <script src="assets/js/main.js"></script>


    </body>
    </html> 
  


  